<?xml version="1.0" encoding="UTF-8"?>
<starter>
    <starter>melon</starter>
    <starterPrice>melon</starterPrice>
</starter>
<?xml version="1.0" encoding="UTF-8"?>
<main>
    <main>beef</main>
    <mainPrice>5.00</mainPrice>
</main>
<?xml version="1.0" encoding="UTF-8"?>
<dessert>
    <dessert>choc</dessert>
    <dessertPrice>6</dessertPrice>
</dessert>
<?xml version="1.0" encoding="UTF-8"?>
<drink>
    <drink>wine</drink>
    <drinkPrice>5</drinkPrice>
</drink>
<?xml version="1.0" encoding="UTF-8"?>
<starter>
    <starter>s</starter>
    <starterPrice>s</starterPrice>
</starter>
<?xml version="1.0" encoding="UTF-8"?>
<starter>
    <starter>ss</starter>
    <starterPrice>ss</starterPrice>
</starter>
